@model SWIMS.Models.SW_organization

@{
    ViewData["Title"] = "Details";
}

<br />
<div class="card basic-data-table">
    <div class="card-header">
        <a asp-action="Index" class="bg-primary-light text-primary-600 d-inline-flex align-items-center justify-content-center" style="padding: 10px;"> SW_organization listings</a>
    </div>
    <div class="card-body" style="overflow-y:scroll; max-height: 250px;">
     <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.vendor_id).ToUpper():
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.vendor_id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.name).ToUpper():
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.type).ToUpper():
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.type)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.active).ToUpper():
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.active)
        </dd>
    </dl>

    </div>
</div>

