@if (ViewBag.AppCnt == 1) // ------ APPROVER 1
{
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate1</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm1 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt1)
            </div>
        </div>
    </div>
}
@if (ViewBag.AppCnt == 2) // ------ APPROVER 2
{
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate1</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm1 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt1)
            </div>
        </div>
    </div>
    <div class="container_timeline left">
        <div class="date">@ViewBag.AppDate2</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm2 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt2)
            </div>
        </div>
    </div>
}
@if (ViewBag.AppCnt == 3) // ------ APPROVER 3
{
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate1</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm1 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt1)
            </div>
        </div>
    </div>
    <div class="container_timeline left">
        <div class="date">@ViewBag.AppDate2</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm2 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt2)
            </div>
        </div>
    </div>
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate3</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm3 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt3)
            </div>
        </div>
    </div>
}
@if (ViewBag.AppCnt == 4) // ------ APPROVER 4
{
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate1</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm1 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt1)
            </div>
        </div>
    </div>
    <div class="container_timeline left">
        <div class="date">@ViewBag.AppDate2</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm2 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt2)
            </div>
        </div>
    </div>
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate3</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm3 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt3)
            </div>
        </div>
    </div>
    <div class="container_timeline left">
        <div class="date">@ViewBag.AppDate4</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm4 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt4)
            </div>
        </div>
    </div>
}
@if (ViewBag.AppCnt == 5) // ------ APPROVER 5
{
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate1</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm1 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt1)
            </div>
        </div>
    </div>
    <div class="container_timeline left">
        <div class="date">@ViewBag.AppDate2</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm2 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt2)
            </div>
        </div>
    </div>
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate3</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm3 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt3)
            </div>
        </div>
    </div>
    <div class="container_timeline left">
        <div class="date">@ViewBag.AppDate4</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm4 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt4)
            </div>
        </div>
    </div>
    <div class="container_timeline right">
        <div class="date">@ViewBag.AppDate5</div>
        <div class="content">
            <h2><span>@@</span>@ViewBag.AppNm5 - </h2>
            <div>
                @Html.Raw(ViewBag.AppCmt5)
            </div>
        </div>
    </div>
}

