@{
    ViewData["title"] = "Form Preview";

    var htmlScript = "";
    @foreach (var inx in ViewBag.Collection2)
    {
        @for (int i = 1; i < 250; i++)
        {
            int j = i - 1;
            string selector = "FormData" + @i.ToString("D2");
            var collection = @Html.Raw(ViewBag.Collection[j]);
            if (@inx.field == selector)
            {
                // form input field = text
                // 
                if (@inx.type == "text") 
                {
                    htmlScript += "$('input[name=" + selector + "]').val('" + collection + "').attr('readonly', 'true');";
                } 

                // form select field
                //
                else if (@inx.type == "select")
                {
                    // htmlScript += "$('input[name=" + selector + "]:option').contains('" + collection + "').prop('selected', true);";
                    htmlScript += "$('input[name=" + selector + "]').text('" + collection + "');";
                }

                // form checkbox field
                //
                else if (@inx.type == "radio-group") 
                {
                    htmlScript += "$('input[name=" + selector + "]').prop('checked', " + collection + ");";
                    // default field
                    //
                } else 
                {
                    htmlScript += "$('input[name=" + selector + "]').val('" + collection + "').attr('readonly', 'true');";
                }

            }                        
        }
    }
}



@Html.Raw(@ViewBag.header)
<div id="fb-rendered-form"></div>

@* <link href="~/css/forms-stylesheet.css" rel="stylesheet" /> *@
@* <script src="~/lib/jquery/dist/jquery.min.js"></script> *@
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="~/lib/formbuilder/form-render.min.js"></script>
<script type="text/javascript">
    jQuery(function($) {
          var container = document.getElementById('fb-rendered-form');
          var formData = '@Html.Raw(ViewBag.form)';

          var formRenderOpts = {
            container,
            formData,
            dataType: 'json'
          };

          $(container).formRender(formRenderOpts);
    });
</script>

<script type='text/javascript'>
    $(document).ready(function () {
        @Html.Raw(@htmlScript)
    });
</script>

@* @for (int i = 1; i < 250; i++)
{
    int j = i - 1;
    var selector = "FormData" + @i.ToString("D2");
    var collection = @Html.Raw(ViewBag.Collection[j]);

    if(collection != null)
    {
        <script type="text/javascript">
            $(document).ready(function () {
                $("input[name='@selector']").val("@collection");
            });
        </script>
    }
} *@