@using Microsoft.AspNetCore.Identity
@using SWIMS.Models
@model SWIMS.Models.SW_formTableDatum
@inject UserManager<SwUser> UserManager

<!-- BACK BUTTON -->
<div style="width: 110px;">
    <a href="##" onClick="history.go(-1); return false;"
       class="btn rounded-pill btn-outline-dark-1 radius-8 px-20 py-11 d-flex align-items-center gap-2">
        <iconify-icon icon="ion:return-up-back-sharp"></iconify-icon> Back
    </a>
    <br />
    <br />
</div>
<!-- ----------------------------------------------- -->
@{
    ViewData["Title"] = "Approvals / Recommendations";
}

<div class="row">
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">Documents::</div>
            <div class="card-body">
                <!-- Form Wizard Start -->
                <div class="form-wizard">
                    <div class="form-wizard-header overflow-x-auto scroll-sm pb-8 my-32">                        
                            @if (ViewBag.appAmt == 1)
                            {
                                <ul class="list-unstyled form-wizard-list">
                                    <li class="form-wizard-list__item active">
                                        <div class="form-wizard-list__line">
                                            <span class="count">1</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 1</span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList01Ctn</span>
                                    </li>
                                </ul>
                            }
                            else if (ViewBag.appAmt == 2)
                            {
                                <ul class="list-unstyled form-wizard-list">
                                    <li class="form-wizard-list__item active">
                                        <div class="form-wizard-list__line">
                                            <span class="count">1</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 1</span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList01Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">2</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 2</span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList02Ctn</span>
                                    </li>
                                </ul>
                            }
                            else if (ViewBag.appAmt == 3)
                            {
                                <ul class="list-unstyled form-wizard-list">
                                    <li class="form-wizard-list__item active">
                                        <div class="form-wizard-list__line">
                                            <span class="count">1</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 1 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList01Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">2</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 2 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList02Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">3</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 3 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList03Ctn</span>
                                    </li>
                                </ul>
                            } 
                            else if (ViewBag.appAmt == 4)
                            {
                                <ul class="list-unstyled form-wizard-list">
                                    <li class="form-wizard-list__item active">
                                        <div class="form-wizard-list__line">
                                            <span class="count">1</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 1 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList01Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">2</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 2 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList02Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">3</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 3 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList03Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">4</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 4 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList04Ctn</span>
                                    </li>
                                </ul>
                            }
                            else if (ViewBag.appAmt == 5)
                            {
                                <ul class="list-unstyled form-wizard-list">
                                    <li class="form-wizard-list__item active">
                                        <div class="form-wizard-list__line">
                                            <span class="count">1</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 1 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList01Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">2</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 2 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList02Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">3</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 3 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList03Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">4</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 4 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList04Ctn</span>
                                    </li>
                                    <li class="form-wizard-list__item">
                                        <div class="form-wizard-list__line">
                                            <span class="count">5</span>
                                        </div>
                                        <span class="text text-xs fw-semibold">APPROVER 5 </span>
                                        <span style="background: red; color: white;padding: 5px; border-radius: 30px;">@ViewBag.appList05Ctn</span>
                                    </li>
                                </ul>
                            }                             
                    </div>

                    <fieldset class="wizard-fieldset show">
                        <!-- APPROVER 1 --------------- -->

                        <div class="btn-group radius-8" role="group" aria-label="Default button group">
                            <button type="button" class="form-wizard-previous-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Previous</button>
                            <button type="button" class="form-wizard-next-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Next</button>
                        </div>
                        <br />
                        <br />
                        <select id="appList01" style="width: 50%;">
                            <option>-- Select Entry: --</option>
                            @foreach (var item in ViewBag.appList01) {
                                <option value="@item.Id">Entry No.: - @item.Id</option>
                            }
                        </select>
                        <div id="appListPreview01"></div>
                        <div id="appListEntry01"></div>                        
                    </fieldset>

                    <fieldset class="wizard-fieldset">
                        <!-- APPROVER 2 --------------- -->

                        <div class="btn-group radius-8" role="group" aria-label="Default button group">
                            <button type="button" class="form-wizard-previous-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Previous</button>
                            <button type="button" class="form-wizard-next-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Next</button>
                        </div>
                        <br />
                        <br />
                        <select id="appList02" style="width: 50%;">
                            <option>-- Select Entry: --</option>
                            @foreach (var item in ViewBag.appList02) {
                                <option value="@item.Id">Entry No.: - @item.Id</option>
                            }
                        </select>                                                
                        <div id="appListPreview02"></div>
                        <div id="appListEntry02"></div>
                    </fieldset>

                    <fieldset class="wizard-fieldset">
                        <!-- APPROVER 3 --------------- -->

                        <div class="btn-group radius-8" role="group" aria-label="Default button group">
                            <button type="button" class="form-wizard-previous-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Previous</button>
                            <button type="button" class="form-wizard-next-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Next</button>
                        </div>
                        <br />
                        <br />
                        <select id="appList03" style="width: 50%;">
                            <option>-- Select Entry: --</option>
                            @foreach (var item in ViewBag.appList03) {
                                <option value="@item.Id">Entry No.: - @item.Id</option>
                            }
                        </select>                        
                        <div id="appListPreview03"></div>
                        <div id="appListEntry03"></div>
                    </fieldset>
                    <fieldset class="wizard-fieldset">
                        <!-- APPROVER 4 --------------- -->

                        <div class="btn-group radius-8" role="group" aria-label="Default button group">
                            <button type="button" class="form-wizard-previous-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Previous</button>
                            <button type="button" class="form-wizard-next-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Next</button>
                        </div>
                        <br />
                        <br />
                        <select id="appList04" style="width: 50%;">
                            <option>-- Select Entry: --</option>
                            @foreach (var item in ViewBag.appList04)
                            {
                                <option value="@item.Id">Entry No.: - @item.Id</option>
                            }
                        </select>
                        <div id="appListPreview04"></div>
                        <div id="appListEntry04"></div>
                    </fieldset>
                    <fieldset class="wizard-fieldset">
                        <!-- APPROVER 5 --------------- -->

                        <div class="btn-group radius-8" role="group" aria-label="Default button group">
                            <button type="button" class="form-wizard-previous-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Previous</button>
                            <button type="button" class="form-wizard-next-btn btn btn-outline-neutral-600 px-30 py-11 radius-50">Next</button>
                        </div>
                        <br />
                        <br />
                        <select id="appList05" style="width: 50%;">
                            <option>-- Select Entry: --</option>
                            @foreach (var item in ViewBag.appList05)
                            {
                                <option value="@item.Id">Entry No.: - @item.Id</option>
                            }
                        </select>
                        <div id="appListPreview05"></div>
                        <div id="appListEntry05"></div>
                    </fieldset>
                </div>
                <!-- Form Wizard End -->
            </div>
        </div>
    </div>
    <div class="col-sm-6">
        <div class="card">
            <div class="card-header">History::</div>
            <div class="card-body">

                <div class="timeline">
                    <div id="appHistory"></div>
                </div>

            </div>
        </div>
        <br />
        <div class="card">
            <div class="card-header">Take Action::</div>
            <div class="card-body">
                <a href="#" id="appBTN" type="button" class="btn rounded-pill btn-outline-success-600 radius-8 px-20 py-11 d-flex align-items-center gap-2">
                    <iconify-icon icon="tabler:copy-check-filled" class="text-xl"></iconify-icon> GO
                </a>
            </div>
        </div>
    </div>
</div>

<link href="~/css/forms-stylesheet.css" rel="stylesheet" />
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery-modal/jquery.modal.min.js"></script>
<link href="~/lib/jquery-modal/jquery.modal.min.css" rel="stylesheet" />
<link href="~/lib/trumbowyg-editor/ui/trumbowyg.min.css" rel="stylesheet" />
<script src="~/lib/trumbowyg-editor/trumbowyg.min.js"></script>
<link href="~/lib/select2/select2.css" rel="stylesheet" />
<script src="~/lib/select2/select2.js"></script>
<script type="text/javascript"> 
        // =============================== Wizard Step Js Start ================================
        jQuery(function($) {
                // click on next button -- form-wizard-list__line
            $('.form-wizard-next-btn').on('click', function () {
                var parentFieldset = $(this).parents('.wizard-fieldset');
                var currentActiveStep = $(this).parents('.form-wizard').find('.form-wizard-list .active');
                var next = $(this);
                var nextWizardStep = true;
                parentFieldset.find('.wizard-required').each(function () {
                    var thisValue = $(this).val();

                    if (thisValue == '') {
                        $(this).siblings('.wizard-form-error').show();
                        nextWizardStep = false;
                    } else {
                        $(this).siblings('.wizard-form-error').hide();
                    }
                });
                if (nextWizardStep) {
                    next.parents('.wizard-fieldset').removeClass('show', '400');
                    currentActiveStep.removeClass('active').addClass('activated').next().addClass('active', '400');
                    next.parents('.wizard-fieldset').next('.wizard-fieldset').addClass('show', '400');
                    $(document).find('.wizard-fieldset').each(function () {
                        if ($(this).hasClass('show')) {
                            var formAtrr = $(this).attr('data-tab-content');
                            $(document).find('.form-wizard-list .form-wizard-step-item').each(function () {
                                if ($(this).attr('data-attr') == formAtrr) {
                                    $(this).addClass('active');
                                    var innerWidth = $(this).innerWidth();
                                    var position = $(this).position();
                                    $(document).find('.form-wizard-step-move').css({
                                        'left': position.left,
                                        'width': innerWidth
                                    });
                                } else {
                                    $(this).removeClass('active');
                                }
                            });
                        }
                    });
                }
            });
            //click on previous button
            $('.form-wizard-previous-btn').on('click', function () {
                var counter = parseInt($('.wizard-counter').text());;
                var prev = $(this);
                var currentActiveStep = $(this).parents('.form-wizard').find('.form-wizard-list .active');
                prev.parents('.wizard-fieldset').removeClass('show', '400');
                prev.parents('.wizard-fieldset').prev('.wizard-fieldset').addClass('show', '400');
                currentActiveStep.removeClass('active').prev().removeClass('activated').addClass('active', '400');
                $(document).find('.wizard-fieldset').each(function () {
                    if ($(this).hasClass('show')) {
                        var formAtrr = $(this).attr('data-tab-content');
                        $(document).find('.form-wizard-list .form-wizard-step-item').each(function () {
                            if ($(this).attr('data-attr') == formAtrr) {
                                $(this).addClass('active');
                                var innerWidth = $(this).innerWidth();
                                var position = $(this).position();
                                $(document).find('.form-wizard-step-move').css({
                                    'left': position.left,
                                    'width': innerWidth
                                });
                            } else {
                                $(this).removeClass('active');
                            }
                        });
                    }
                });
            });
            //click on form submit button
            $(document).on('click', '.form-wizard .form-wizard-submit', function () {
                var parentFieldset = $(this).parents('.wizard-fieldset');
                var currentActiveStep = $(this).parents('.form-wizard').find('.form-wizard-list .active');
                parentFieldset.find('.wizard-required').each(function () {
                    var thisValue = $(this).val();
                    if (thisValue == '') {
                        $(this).siblings('.wizard-form-error').show();
                    } else {
                        $(this).siblings('.wizard-form-error').hide();
                    }
                });
            });
            // focus on input field check empty or not
            $('.form-control').on('focus', function () {
                var tmpThis = $(this).val();
                if (tmpThis == '') {
                    $(this).parent().addClass('focus-input');
                } else if (tmpThis != '') {
                    $(this).parent().addClass('focus-input');
                }
            }).on('blur', function () {
                var tmpThis = $(this).val();
                if (tmpThis == '') {
                    $(this).parent().removeClass('focus-input');
                    $(this).siblings('.wizard-form-error').show();
                } else if (tmpThis != '') {
                    $(this).parent().addClass('focus-input');
                    $(this).siblings('.wizard-form-error').hide();
                }
            });
        });       


        // ------------------------------------------- SELECT2 Dropdown
        jQuery(function ($) {
            $("#appList01").select2();
            $("#appList02").select2();
            $("#appList03").select2();
            $("#appList04").select2();
            $("#appList05").select2();
        });

        // ------------------------------------------- Approval dropdown logic & auto-fill Edit hidden Id
        jQuery(function ($) {
            var uuid = "@ViewBag.uuid"

            $("#appList01").on('keyup change', function() {  // ------ APPROVER 1
                // -------- fetch FormData innerWidth preview
                var selID = $(this).val().trim();
                $.ajax({
                    url: '@Url.Action("Preview", "form")?&dataId=' + selID + '&uuid=' + uuid.trim() + '',
                    type: "GET",
                    success: function (result) {
                        $("#appListPreview01").html(result);
                    }
                });
                // -------- dynamic Navigation button to comment
                $("#appBTN").attr('href', '@Url.Action("ApprovalAction", "form")?&dataId=' + selID + '&appCnt=1&uuid=' + uuid.trim() + '');
                // -------- dynamic history 
                $.ajax({
                    url: '@Url.Action("ApprovalHistory", "form")?&dataId=' + selID + '&appCnt=1',
                    type: "GET",
                    success: function (result) {
                        $("#appHistory").html(result);
                    }
                });
            });

            $("#appList02").on('keyup change', function() { // ------ APPROVER 2
                // -------- fetch FormData innerWidth preview
                var selID = $(this).val().trim();
                $.ajax({
                    url: '@Url.Action("Preview", "form")?&dataId=' + selID + '&uuid=' + uuid.trim() + '',
                    type: "GET",
                    success: function (result) {
                        $("#appListPreview02").html(result);
                    }
                });
                // -------- dynamic Navigation button to comment
                $("#appBTN").attr('href', '@Url.Action("ApprovalAction", "form")?&dataId=' + selID + '&appCnt=2&uuid=' + uuid.trim() + '');
                // -------- dynamic history 
                $.ajax({
                    url: '@Url.Action("ApprovalHistory", "form")?&dataId=' + selID + '&appCnt=2',
                    type: "GET",
                    success: function (result) {
                        $("#appHistory").html(result);
                    }
                });
            });     
            
            $("#appList03").on('keyup change', function() { // ------ APPROVER 3
                // -------- fetch FormData innerWidth preview
                var selID = $(this).val().trim();
                $.ajax({
                    url: '@Url.Action("Preview", "form")?&dataId=' + selID + '&uuid=' + uuid.trim() + '',
                    type: "GET",
                    success: function (result) {
                        $("#appListPreview03").html(result);
                    }
                });
                // -------- dynamic Navigation button to comment
                $("#appBTN").attr('href', '@Url.Action("ApprovalAction", "form")?&dataId=' + selID + '&appCnt=3&uuid=' + uuid.trim() + '');
                // -------- dynamic history 
                $.ajax({
                    url: '@Url.Action("ApprovalHistory", "form")?&dataId=' + selID + '&appCnt=3',
                    type: "GET",
                    success: function (result) {
                        $("#appHistory").html(result);
                    }
                });
            });

            $("#appList04").on('keyup change', function() { // ------ APPROVER 4
                // -------- fetch FormData innerWidth preview
                var selID = $(this).val().trim();
                $.ajax({
                    url: '@Url.Action("Preview", "form")?&dataId=' + selID + '&uuid=' + uuid.trim() + '',
                    type: "GET",
                    success: function (result) {
                        $("#appListPreview04").html(result);
                    }
                });
                // -------- dynamic Navigation button to comment
                $("#appBTN").attr('href', '@Url.Action("ApprovalAction", "form")?&dataId=' + selID + '&appCnt=4&uuid=' + uuid.trim() + '');
                // -------- dynamic history 
                $.ajax({
                    url: '@Url.Action("ApprovalHistory", "form")?&dataId=' + selID + '&appCnt=4',
                    type: "GET",
                    success: function (result) {
                        $("#appHistory").html(result);
                    }
                });
            });

            $("#appList05").on('keyup change', function() { // ------ APPROVER 5
                // -------- fetch FormData innerWidth preview
                var selID = $(this).val().trim();
                $.ajax({
                    url: '@Url.Action("Preview", "form")?&dataId=' + selID + '&uuid=' + uuid.trim() + '',
                    type: "GET",
                    success: function (result) {
                        $("#appListPreview05").html(result);
                    }
                });
                // -------- dynamic Navigation button to comment
                $("#appBTN").attr('href', '@Url.Action("ApprovalAction", "form")?&dataId=' + selID + '&appCnt=5&uuid=' + uuid.trim() + '');
                // -------- dynamic history 
                $.ajax({
                    url: '@Url.Action("ApprovalHistory", "form")?&dataId=' + selID + '&appCnt=5',
                    type: "GET",
                    success: function (result) {
                        $("#appHistory").html(result);
                    }
                });
            });
});
</script>