@model IEnumerable<SWIMS.Models.SW_form>

@{
    ViewData["Title"] = "Form Management";
}

<br />
<div class="row">
    <div class="col-md-8">
        <div class="card basic-data-table">
            <div class="card-header">
                <a asp-action="Create" class="btn btn-success">Create New</a>
            </div>
            <div class="card-body" style="overflow-x:scroll;">
                <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>
                    <thead>
                        <tr>
                            <th scope="col">
                                Manage
                            </th>
                            <th scope="col">
                                UUID:
                            </th>
                            <th scope="col">
                                Form Name:
                            </th>
                            <th scope="col">
                                Modified:
                            </th>
                            <th scope="col">
                                Site:
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>
                                    <a asp-action="Complete" asp-route-id="@item.Id" class="w-32-px h-32-px bg-yellow-light text-yellow-main rounded-circle d-inline-flex align-items-center justify-content-center"><iconify-icon icon="bitcoin-icons:share-filled"></iconify-icon></a>
                                    <a asp-action="Details" asp-route-id="@item.Id" class="w-32-px h-32-px bg-primary-light text-primary-600 rounded-circle d-inline-flex align-items-center justify-content-center"><iconify-icon icon="iconamoon:eye-light"></iconify-icon></a>
                                    <a asp-action="Edit" asp-route-id="@item.Id" class="w-32-px h-32-px bg-success-focus text-success-main rounded-circle d-inline-flex align-items-center justify-content-center"><iconify-icon icon="lucide:edit"></iconify-icon></a>
                                    <a asp-action="Delete" asp-route-id="@item.Id" class="w-32-px h-32-px bg-danger-focus text-danger-main rounded-circle d-inline-flex align-items-center justify-content-center"><iconify-icon icon="mingcute:delete-2-line"></iconify-icon></a>
                                </td>
                                <td>
                                    @item.uuid.Substring(0, 5) ...
                                </td>
                                <td>
                                    @item.name
                                </td>
                                <td>
                                    @item.dateModified.ToLocalTime()
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => item.SW_identity.name)
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card basic-data-table">
            <div class="card-header">
                Form References
            </div>
            <div class="card-body">
                <a asp-area="" asp-action="Index" asp-controller="formTableData" type="button" class="btn rounded-pill btn-outline-primary-600 radius-8 px-20 py-11 d-flex align-items-center gap-2">
                    <iconify-icon icon="mingcute:square-arrow-right-line" class="text-xl"></iconify-icon> Form Data
                </a><br />
                <a asp-area="" asp-action="Index" asp-controller="formTableName" type="button" class="btn rounded-pill btn-outline-primary-600 radius-8 px-20 py-11 d-flex align-items-center gap-2">
                    <iconify-icon icon="mingcute:square-arrow-right-line" class="text-xl"></iconify-icon> Form Data Names
                </a><br />
                <a asp-area="" asp-action="Index" asp-controller="formTableData_Type" type="button" class="btn rounded-pill btn-outline-primary-600 radius-8 px-20 py-11 d-flex align-items-center gap-2">
                    <iconify-icon icon="mingcute:square-arrow-right-line" class="text-xl"></iconify-icon> Form Data Types
                </a><br />
                <a asp-area="" asp-action="Index" asp-controller="formProcess" type="button" class="btn rounded-pill btn-outline-primary-600 radius-8 px-20 py-11 d-flex align-items-center gap-2">
                    <iconify-icon icon="mingcute:square-arrow-right-line" class="text-xl"></iconify-icon> Form Processes
                </a><br />
                <a asp-area="" asp-action="Index" asp-controller="formReport" type="button" class="btn rounded-pill btn-outline-primary-600 radius-8 px-20 py-11 d-flex align-items-center gap-2">
                    <iconify-icon icon="mingcute:square-arrow-right-line" class="text-xl"></iconify-icon> Form Reports
                </a>
            </div>
        </div>
    </div>
</div>




<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/js/datatables.min.js"></script>
<script type="text/javascript">
     let table = new DataTable('#dataTable');
</script>