<a asp-action="Index" asp-controller="Home"><< | back</a>
@{
    ViewData["Title"] = "Program - " + @ViewBag.formName;
}
@model FormTableViewModel

<hr />
<br />
<div class="row">
    <div class="col-md-4">
        <div class="card shadow-none border bg-gradient-start-1 h-100">
            <div class="card-body p-20">
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                    <div>
                        <p class="fw-medium text-primary-light mb-1">Total Entries</p>
                        <h6 class="mb-0">@ViewBag.entries</h6>
                    </div>
                    <div class="w-50-px h-50-px bg-cyan rounded-circle d-flex justify-content-center align-items-center">
                        <iconify-icon icon="gridicons:multiple-users" class="text-white text-2xl mb-0"></iconify-icon>
                    </div>
                </div>
                <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                    <span class="d-inline-flex align-items-center gap-1 text-success-main">
                        <iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>
                    </span>
                    Last 30 days
                </p>
            </div>
        </div><!-- card end -->
    </div>
    <div class="col-md-4">
        <div class="card shadow-none border bg-gradient-start-2 h-100">
            <div class="card-body p-20">
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                    <div>
                        <p class="fw-medium text-info-light mb-1">Total Pending Approval</p>
                        <h6 class="mb-0">@ViewBag.entries_pending</h6>
                    </div>
                    <div class="w-50-px h-50-px bg-danger rounded-circle d-flex justify-content-center align-items-center">
                        <iconify-icon icon="gridicons:multiple-users" class="text-white text-2xl mb-0"></iconify-icon>
                    </div>
                </div>
                <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                    <span class="d-inline-flex align-items-center gap-1 text-success-main">
                        <iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>
                    </span>
                    Last 30 days
                </p>
            </div>
        </div><!-- card end -->
    </div>
    <div class="col-md-4">
        <div class="card shadow-none border bg-gradient-start-4 h-100">
            <div class="card-body p-20">
                <div class="d-flex flex-wrap align-items-center justify-content-between gap-3">
                    <div>
                        <p class="fw-medium text-primary-light mb-1">Total Completed</p>
                        <h6 class="mb-0">@ViewBag.entries_approved</h6>
                    </div>
                    <div class="w-50-px h-50-px bg-success-main rounded-circle d-flex justify-content-center align-items-center">
                        <iconify-icon icon="gridicons:multiple-users" class="text-white text-2xl mb-0"></iconify-icon>
                    </div>
                </div>
                <p class="fw-medium text-sm text-primary-light mt-12 mb-0 d-flex align-items-center gap-2">
                    <span class="d-inline-flex align-items-center gap-1 text-success-main">
                        <iconify-icon icon="bxs:up-arrow" class="text-xs"></iconify-icon>
                    </span>
                    Last 30 days
                </p>
            </div>
        </div><!-- card end -->
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-8">
        <div class="card radius-12 h-100">
            <div class="card-body py-16 px-24" style="overflow-y: scroll; height:500px;">
                <form asp-action="Create" asp-controller="formTableData">
                    <div id="fb-rendered-form"></div>
                    <input type="hidden" name="SW_formsId" value="@ViewBag.formId" />
                    <button type="submit" class="btn btn-success">Submit</button>
                </form>
                
            </div>
        </div>
    </div>
    <div class="col-sm-4">
        <div class="card basic-data-table" style="overflow-x: scroll; height:500px;">
            <div class="card-header">
                <h5 class="card-title mb-0">Processes & Reports</h5>
            </div>
            <div class="card-body">
                <ul class="list-group radius-8">
                @foreach (var inx in ViewBag.processes)
                {                
                    <li class="list-group-item d-flex align-items-center justify-content-between border text-secondary-light p-16 bg-base border-bottom-0">
                        <div class="d-flex align-items-center gap-2">
                            <span class="d-flex">
                                <iconify-icon icon="mynaui:cart-check" class="text-xl"></iconify-icon>
                            </span>
                                <a href="@inx.Value">@inx.Value</a>
                        </div>
                        <span class="text-xs bg-success-100 text-success-600 radius-4 px-10 py-2 fw-semibold">RUN</span>
                    </li>                
                }
                </ul>
            </div>
        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-sm-12">
        <div class="card basic-data-table" style="overflow-x: scroll; height:500px;">
            <div class="card-header">
                <h5 class="card-title mb-0">Database</h5>
            </div>
            <div class="card-body">
                <table class="table bordered-table mb-0" id="dataTable" data-page-length='10'>
                    <thead>
                        <tr>
                            @foreach (var col in Model.Columns)
                            {
                                <th>@col.Label (@col.ColumnName)</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var row in Model.Rows)
                        {
                            <tr>
                                @foreach (var col in Model.Columns)
                                {
                                    <td>@row[col.ColumnName]</td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/formbuilder/form-render.min.js"></script>
<script src="~/js/datatables.min.js"></script>
<script type="text/javascript">
    // RENDER FORM
    //
    // -----------------------------------------------------------------------------------------------------
    jQuery(function($) {
      var container = document.getElementById('fb-rendered-form');
      var formData = '@Html.Raw(ViewBag.form)';

      var formRenderOpts = {
        container,
        formData,
        dataType: 'json'
      };

      $(container).formRender(formRenderOpts);
    });

    // API LOGIC
    // 
    // Traverse all <select> fields (recursively).
    // For each field, check if its name attribute matches a database model (served from an API endpoint).
    // If there’s a match and the field is a <select>, populate it with options from the API response.
    //
    // -----------------------------------------------------------------------------------------------------
    $(document).ready(function () {


        function findFields($root) {

            $root.find("input[name], select[name], textarea[name]").each(function () {
                var $field = $(this);
                var fieldName = $field.attr("name");

                //  Grab classes into an array
                var fieldClasses = ($field.attr("class")).split(/\s+/).filter(c => c.length > 0);

                $.ajax({
                    url: "/api/" + fieldName,
                    method: "GET",
                    dataType: "json",
                    success: function (data) {
                        if (!data) return;                        

                        // Case 1: Populate select dropdowns
                        if ($field.is("select")) {
                            $field.empty(); // Clear existing options
                            $.each(data, function (i, opt) {
                                var $opt = $("<option>").val(opt.id).text(opt.name);
                                if (data.defaultValue && data.defaultValue == opt.value) {
                                    $opt.prop("selected", true);
                                }
                                $field.append($opt);                                
                            });
                        }
  
                        $("select[name="+ fieldName +"]").on("keyup change", function() {

                            var select_list_classVAL = $(this).children("option:selected").text();

                            if (fieldName === "beneficiary") {
                                $("." + fieldName).val(select_list_classVAL);
                            }
                            if (fieldName === "city") {
                                $("." + fieldName).val(select_list_classVAL);
                            }
                            if (fieldName === "financial_institution") {
                                $("." + fieldName).val(select_list_classVAL);
                            }
                            if (fieldName === "organization") {
                                $("." + fieldName).val(select_list_classVAL);
                            }
                        });                      


                    },
                    error: function (xhr, status, error) {
                        console.error("Error loading data for " + fieldName + ":", error);
                    }
                });
            });
        }

        // Scope to only inside #fb-rendered-form
        var $formContainer = $("#fb-rendered-form");
        if ($formContainer.length) {
            findFields($formContainer);
        }
    });
    // TABLE DATATABLE INIT
    //
    // -----------------------------------------------------------------------------------------------------
    let table = new DataTable('#dataTable');
</script>
