@model SWIMS.Models.SW_formProcess

@{
    ViewData["Title"] = "Details";
}

<br />
<div class="card basic-data-table">
    <div class="card-header">
        <a asp-action="Index" class="bg-primary-light text-primary-600 d-inline-flex align-items-center justify-content-center" style="padding: 10px;"> SW_formProcess listings</a>
    </div>
    <div class="card-body" style="overflow-y:scroll; max-height: 250px;">
     <dl class="row">
        <dt class="col-sm-2">Label</dt>
        <dd class="col-sm-10">@Model.name</dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.url).ToUpper():
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SW_formsId).ToUpper():
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SW_formsId)
        </dd>
    </dl>

    </div>
</div>

