@model SWIMS.Models.SwIdentity

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>SwIdentity</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Desc)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Desc)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Logo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Logo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media01)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media01)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media02)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media02)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Media03)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Media03)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Header)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Header)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Signature)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Signature)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
