@model SWIMS.Models.SwRole

@{
    ViewData["title"] = "Role Details";
    ViewData["subTitle"] = "Role Details";
    ViewData["script"] = @"
    <script>
    // ======================== Upload Image Start =====================
    function readURL(input) {
        if (input.files && input.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                $('#imagePreview').css('background-image', 'url(' + e.target.result + ')');
                $('#imagePreview').hide();
                $('#imagePreview').fadeIn(650);
            }
            reader.readAsDataURL(input.files[0]);
        }
    }
    $('#imageUpload').change(function () {
        readURL(this);
    });
    // ======================== Upload Image End =====================
</script>
    ";
}

<div class="row gy-4">
    <div class="col-lg-4">
        <div class="user-grid-card position-relative border radius-16 overflow-hidden bg-base h-100">
            <img src="~/WowDash/images/user-grid/user-grid-bg1.png" alt="" class="w-100 object-fit-cover">
            <div class="pb-24 ms-16 mb-24 me-16  mt--100">
                <div class="text-center border border-top-0 border-start-0 border-end-0">
                    <img src="~/WowDash/images/user-grid/user-grid-img14.png" alt="" class="border br-white border-width-2-px w-200-px h-200-px rounded-circle object-fit-cover">
                    <h6 class="mb-0 mt-16">@Html.DisplayFor(model => model.Name)</h6>
                </div>
                <div class="mt-24">
                    <h6 class="text-xl mb-16">Role Info</h6>
                    <ul>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light">@Html.DisplayNameFor(model => model.Id)</span>
                            <span class="w-70 text-secondary-light fw-medium">: @Html.DisplayFor(model => model.Id)</span>
                        </li>
                        <li class="d-flex align-items-center gap-1 mb-12">
                            <span class="w-30 text-md fw-semibold text-primary-light"> @Html.DisplayNameFor(model => model.Name)</span>
                            <span class="w-70 text-secondary-light fw-medium">: @Html.DisplayFor(model => model.Name)</span>
                        </li>
                    </ul>
                </div>
            </div>

            <div class="d-flex align-items-center justify-content-center gap-3">
                <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary border border-primary-600 text-md px-28 py-12 radius-8">
                    Edit
                </a>
                <a asp-action="Index" class="border border-danger-600 bg-hover-danger-200 text-danger-600 text-md px-28 py-11 radius-8">
                    Back to List
                </a>
            </div>
        </div>
    </div>
</div>
