@model IEnumerable<SWIMS.Models.SW_identity>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.desc)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.media_01)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.media_02)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.media_03)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.header)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.signature)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.desc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.logo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.media_01)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.media_02)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.media_03)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.header)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.signature)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
